@mixin clickable {
  &:hover{
    cursor: pointer;
  }
}

@mixin background-image($image-url: url(), $width: 48px, $height: 48px) {
  width: var($width);
  height: var($height);

  @include flex(row);
  @include border-radius(1em);

  background: {
    image: var($image-url);
    repeat: no-repeat;
    position: center;
    size: contain;
  }
}

@mixin flex($direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

@mixin state-style(
  $bgColor:#5F2EEA,
  $txtColor:#F7F7F7,
  $borderColor: none,
  $borderSize: 0
)
{
  color: $txtColor;
  background-color: $bgColor;
  @if $borderSize == 0 or $borderColor == none {
    border: none;
  }
  @else{
    border: $borderSize solid $borderColor;
  }
}